<!DOCTYPE html>
<html>
    <head>    
        <script src="https://code.jquery.com/jquery.js"></script>   
        <script type="text/javascript" src="/assets/js/clickFunctions.js"></script>
        <link rel="shortcut icon" href="#" />
    </head>

    <body>
        {{{body}}}
    </body>


          
</html>