Click this button to scrape articles from NPR
<button class="btn waves-effect waves-light" id="scrape" type="submit" name="action">Scrape NPR Articles
    <i class="material-icons right">send</i>
</button>
{{!-- 
<script type="text/javascript">
    $("#scrape").on("click", function(){
        console.log("scraping...")
    })
</script> --}}