Click this button to scrape articles from NPR
<button id="scrape"> Click here for NPR articles</button>
{{!-- 
<script type="text/javascript">
    $("#scrape").on("click", function(){
        console.log("scraping...")
    })
</script> --}}